/* div{
    width: 100px;
    height: 100px;
    background-color: black;
} */

#only {
    background-color: red;
}

.demo {
    background-color:#ff0;
}

.demo1 {
    color: #f40;
}

div span {
    color: blueviolet;
}

.wrapper .wrapper2 em {
    background-color: brown;
}

div > em {
    background-color: cadetblue;
}

div.test {
    background-color: chartreuse;
}

div#test {
    background-color: royalblue;
}

em,
strong,
del {
    color: red;
}

.hello {
    width: 100px;
    height: 100px;
    font-size: 14px;
    font-weight: lighter;
    color: #f40;
    border: 10px dashed blue;
    border-left-color: red;
    text-align: center;
    line-height: 100px;
    text-decoration:underline;
}

.baidu:hover{
    width: 100px;
    height: 100px;
    background-color: burlywood;
}