<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script src="vue.min.js"></script>
      <div id="app">
        <h1>
            {{title}}
        </h1>
        <p>
          名称： <input type="text" v-model="newProduct.name">
          库存： <input type="number" value="0" v-model="newProduct.stock">
          <button @click="addProduct">添加</button>
        </p>
        <ul>
          <li v-for="(item, i) in products" :key="i">
            {{item.name}}
            库存:{{item.stock}}
          </li>
        </ul>
      </div>

      
      <script>
          var vm = new Vue({
              el: "#app",
              data: {
                title: "商品管理",
                newProduct: {
                  name: "",
                  stock: 10,
                },
                products:[
                  {name: "iphone", stock: 10},
                  {name: "xiao mi", stock: 5},
                  {name: "huawei", stock: 0},
                ],
              },
              methods:{
                  addProduct(){
                    this.products.push({
                      name: this.newProduct.name,
                      stock: this.newProduct.stock
                    })
                  }
              },
          });
      </script>
  </body>
</html>
